$blue: #47a3da;
$pink: rgb(212,130, 170);
$yellow: rgb(220, 176, 125);

*{
  color: $blue;
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
}
.icon-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
.icon-container >div {
  width: 20%;
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
  border-left: 1px solid $blue;
  display: inline-block;
}
.cart {
  border-right: 1px solid $blue;
}
i{
  padding-left: 40%;
}
.shirt-box{
  margin: 20px;
  border: 1px solid blue;
}
#pink-shirt div {
  color:$pink;
}

#pink-shirt i{
  color:$pink;
}
#orange-shirt div{
  color: $yellow;
}
#orange-shirt i{
  color: $yellow; 
}
