$blue: #47a3da;
$pink: rgb(212,130, 170);
$yellow: rgb(220, 176, 125);
$white: #FFFFFF;
* {
    color: $blue;
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.icon-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 40px;
}
.icon-container > div {
    width: 20%;
    border-top: 3px solid $blue;
    border-bottom: 3px solid $blue;
    border-left: 3px solid $blue;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}
.image-container {
    border-top: 3px solid $blue;
    border-left: 3px solid $blue;
    border-right: 3px solid $blue;
    padding-left: 30px;
    padding-bottom: 30px;
}
img {
    padding-top: 30px;
}
.flipper-button {
    border-bottom: 3px solid $blue;
    border-left: 3px solid $blue;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    display: inline;
    float: right;
}
#cart {
    border-right: 3px solid $blue;
}
#pink-cart {
    border-right: 3px solid $blue;
}
#yellow-cart {
    border-right: 3px solid $blue;
}
i {
    text-align: center;
}
.shirt-box {
    margin: 20px;
}
#pink-shirt div {
    color: $pink;
}
#pink-shirt i {
    color: $pink;
}
#yellow-shirt div {
    color: $yellow;
}
#yellow-shirt i {
    color: $yellow;
}
.size {
    text-align: center;
}
img {
    max-width: 250px;
    padding-left: 10px;
}
.label-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    padding: 5px;
}
.price {
    font-weight: 600;
}
@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}
div.ibox-blue:hover {
    background: $blue;
    color: $white;
}
div.ibox-blue:hover i {
    background: $blue;
    color: $white;
}
div.blue-size:hover {
    background: $blue;
    color: $white;
}
div.size-options-wrapper{
    opacity: 0;
}
div.color-options-wrapper{
    opacity: 0;
}
div.ibox-blue:hover div.color-options-wrapper {
    opacity: 1;
}
div.blue-size:hover div.size-options-wrapper {
    opacity: 1;
}
#pink-size:hover div.size-options-wrapper {
    opacity: 1;
}
#yellow-size:hover div.size-options-wrapper {
    opacity: 1;
}
#blue-heart:hover {
    background-color: $blue;
    color: $white;
}
#blue-heart:hover i {
    background-color: $blue;
    color: $white;
}
//pink
div.ibox-pink:hover {
    background: $pink;
    color: $white;
}
div.ibox-pink:hover i {
    background: $pink;
    color: $white;
}
#pink-size:hover {
    background: $pink;
    color: $white;
}
#pink-heart:hover {
    background-color: $pink;
    color: $white;
}
#pink-heart:hover i {
    background-color: $pink;
    color: $white;
}
#pink-flip:hover {
    background-color: $pink;
    color: $white;
}
#pink-flip:hover i {
    background-color: $pink;
    color: $white;
}
#pink-cart:hover {
    background-color: $pink;
    color: $white;
}
#pink-cart:hover i {
    background-color: $pink;
    color: $white;
}
#pink-color:hover {
    background-color: $pink;
    color: $white;
}
#pink-color:hover i {
    background-color: $pink;
    color: $white;
}
//yellow
div.ibox-yellow:hover {
    background: $yellow;
    color: $white;
}
div.ibox-pink:hover i {
    background: $pink;
    color: $white;
}
#yellow-size:hover {
    background: $yellow;
    color: $white;
}
#yellow-heart:hover {
    background-color: $yellow;
    color: $white;
}
#yellow-heart:hover i {
    background-color: $yellow;
    color: $white;
}
#yellow-flip:hover {
    background-color: $yellow;
    color: $white;
}
#yellow-flip:hover i {
    background-color: $yellow;
    color: $white;
}
#yellow-cart:hover {
    background-color: $yellow;
    color: $white;
}
#yellow-cart:hover i {
    background-color: $yellow;
    color: $white;
}
#yellow-color:hover {
    background-color: $yellow;
    color: $white;
}
#yellow-color:hover i {
    background-color: $yellow;
    color: $white;
}
.flipper-button:hover {
    background-color: $blue;
    color: $white;
}
.flipper-button:hover i {
    background-color: $blue;
    color: $white;
}
#pink-flipper:hover {
    background-color: $pink;
    color: $white;
}
#pink-flipper:hover i {
    background-color: $pink;
    color: $white;
}
#yellow-flipper:hover {
    background-color: $yellow;
    color: $white;
}
#yellow-flipper:hover i {
    background-color: $yellow;
    color: $white;
}
#wrapper {
    background: blue;
    border: 2px solid $blue;
    height: 200px;
    width: 80px;
}
#shirtsize {
    padding: 0;
    margin: 0;
}
.callout {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 6px;
    width: 50px;
    img {
        align-self: center;
        padding-left: 10px;
    }
}
.callout-color {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 6px;
    width: 100px;
    img {
        align-self: center;
        padding-left: 0px;
    }
}

.callout .notch {
    position: absolute;
    top: -10px;
    left: 25px;
    margin: 0;
    border-top: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    padding: 0;
    width: 0;
    height: 0;
}
.callout-color .notch {
    position: absolute;
    top: -10px;
    left: 50px;
    margin: 0;
    border-top: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    padding: 0;
    width: 0;
    height: 0;
}
img#“swatches” {
    padding-top: 15px;
}
.border-callout {
    border: 1px solid $blue;
    padding: 0 10px;
}
.border-callout .border-notch {
    border-bottom-color: $blue;
    top: -11px;
}
