@charset "UTF-8";
* {
  color: #47a3da;
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  height: 40px; }

.icon-container > div {
  width: 20%;
  border-top: 3px solid #47a3da;
  border-bottom: 3px solid #47a3da;
  border-left: 3px solid #47a3da;
  display: inline-block;
  text-align: center;
  line-height: 40px; }

.image-container {
  border-top: 3px solid #47a3da;
  border-left: 3px solid #47a3da;
  border-right: 3px solid #47a3da;
  padding-left: 30px;
  padding-bottom: 30px; }

img {
  padding-top: 30px; }

.flipper-button {
  border-bottom: 3px solid #47a3da;
  border-left: 3px solid #47a3da;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  display: inline;
  float: right; }

#cart {
  border-right: 3px solid #47a3da; }

#pink-cart {
  border-right: 3px solid #47a3da; }

#yellow-cart {
  border-right: 3px solid #47a3da; }

i {
  text-align: center; }

.shirt-box {
  margin: 20px; }

#pink-shirt div {
  color: #d482aa; }

#pink-shirt i {
  color: #d482aa; }

#yellow-shirt div {
  color: #dcb07d; }

#yellow-shirt i {
  color: #dcb07d; }

.size {
  text-align: center; }

img {
  max-width: 250px;
  padding-left: 10px; }

.label-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  padding: 5px; }

.price {
  font-weight: 600; }

@media (min-width: 768px) {
  .container {
    flex-direction: row; } }
div.ibox-blue:hover {
  background: #47a3da;
  color: #FFFFFF; }

div.ibox-blue:hover i {
  background: #47a3da;
  color: #FFFFFF; }

div.blue-size:hover {
  background: #47a3da;
  color: #FFFFFF; }

div.size-options-wrapper {
  opacity: 0; }

div.color-options-wrapper {
  opacity: 0; }

div.ibox-blue:hover div.color-options-wrapper {
  opacity: 1; }

div.ibox-pink:hover div.color-options-wrapper {
  opacity: 1; }

#yellow-color:hover div.color-options-wrapper {
  opacity: 1; }

div.blue-size:hover div.size-options-wrapper {
  opacity: 1; }

#pink-size:hover div.size-options-wrapper {
  opacity: 1; }

#yellow-size:hover div.size-options-wrapper {
  opacity: 1; }

#blue-heart:hover {
  background-color: #47a3da;
  color: #FFFFFF; }

#blue-heart:hover i {
  background-color: #47a3da;
  color: #FFFFFF; }

div.ibox-pink:hover {
  background: #d482aa;
  color: #FFFFFF; }

div.ibox-pink:hover i {
  background: #d482aa;
  color: #FFFFFF; }

#pink-size:hover {
  background: #d482aa;
  color: #FFFFFF; }

#pink-heart:hover {
  background-color: #d482aa;
  color: #FFFFFF; }

#pink-heart:hover i {
  background-color: #d482aa;
  color: #FFFFFF; }

#pink-flip:hover {
  background-color: #d482aa;
  color: #FFFFFF; }

#pink-flip:hover i {
  background-color: #d482aa;
  color: #FFFFFF; }

#pink-cart:hover {
  background-color: #d482aa;
  color: #FFFFFF; }

#pink-cart:hover i {
  background-color: #d482aa;
  color: #FFFFFF; }

#pink-color:hover {
  background-color: #d482aa;
  color: #FFFFFF; }

#pink-color:hover i {
  background-color: #d482aa;
  color: #FFFFFF; }

div.ibox-yellow:hover {
  background: #dcb07d;
  color: #FFFFFF; }

div.ibox-pink:hover i {
  background: #d482aa;
  color: #FFFFFF; }

#yellow-size:hover {
  background: #dcb07d;
  color: #FFFFFF; }

#yellow-heart:hover {
  background-color: #dcb07d;
  color: #FFFFFF; }

#yellow-heart:hover i {
  background-color: #dcb07d;
  color: #FFFFFF; }

#yellow-flip:hover {
  background-color: #dcb07d;
  color: #FFFFFF; }

#yellow-flip:hover i {
  background-color: #dcb07d;
  color: #FFFFFF; }

#yellow-cart:hover {
  background-color: #dcb07d;
  color: #FFFFFF; }

#yellow-cart:hover i {
  background-color: #dcb07d;
  color: #FFFFFF; }

#yellow-color:hover {
  background-color: #dcb07d;
  color: #FFFFFF; }

#yellow-color:hover i {
  background-color: #dcb07d;
  color: #FFFFFF; }

.flipper-button:hover {
  background-color: #47a3da;
  color: #FFFFFF; }

.flipper-button:hover i {
  background-color: #47a3da;
  color: #FFFFFF; }

#pink-flipper:hover {
  background-color: #d482aa;
  color: #FFFFFF; }

#pink-flipper:hover i {
  background-color: #d482aa;
  color: #FFFFFF; }

#yellow-flipper:hover {
  background-color: #dcb07d;
  color: #FFFFFF; }

#yellow-flipper:hover i {
  background-color: #dcb07d;
  color: #FFFFFF; }

#wrapper {
  background: blue;
  border: 2px solid #47a3da;
  height: 200px;
  width: 80px; }

#shirtsize {
  padding: 0;
  margin: 0; }

.callout {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: white;
  border-radius: 6px;
  width: 50px; }
  .callout img {
    align-self: center;
    padding-left: 10px; }

.callout-color {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: white;
  border-radius: 6px;
  width: 100px; }
  .callout-color img {
    align-self: center;
    padding-left: 0px; }

.callout .notch {
  position: absolute;
  top: -10px;
  left: 25px;
  margin: 0;
  border-top: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  padding: 0;
  width: 0;
  height: 0; }

.callout-color .notch {
  position: absolute;
  top: -10px;
  left: 50px;
  margin: 0;
  border-top: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  padding: 0;
  width: 0;
  height: 0; }

img#“swatches” {
  padding-top: 15px; }

.border-callout {
  border: 1px solid #47a3da;
  padding: 0 10px; }

.border-callout .border-notch {
  border-bottom-color: #47a3da;
  top: -11px; }

/*# sourceMappingURL=main.css.map */
